@model List<Kategori>
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
        <div class="row g-4">

            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4" href="/JobList/Index/@item.KategoriID">
                        <i class="@item.KategoriFoto"></i>
                        <h6 class="mb-3">@item.KategoriIsmi</h6>
                        <p class="mb-0">Başvuru Sayısı:@item.KategoriBasvuranSayisi</p>
                    </a>
                </div>
            }







        </div>
    </div>
</div>

