@model List<Kariyer_net.Models.Carousel>
<div class="container-fluid p-0">
    <div class="owl-carousel header-carousel position-relative">
        @foreach (var item in Model)
        {
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="@item.CarouselFotoUrl" alt="" style="width:1440px;height:720px">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-3 text-white animated slideInDown mb-4">@item.CarouselBaslik</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">@item.CarouselAciklama</p>
                                <a href="" class="btn btn-warning py-md-3 px-md-5 me-3 animated slideInLeft">İş Ara</a>
                                <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Yetenek Bul</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
